@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

:root {
    --mainTransition: all 0.3s linear;
    --mainSpacing: 3px;
}

* {
    box-sizing: border-box;
}

.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    max-width: 800px;
    padding-left: 20px;
}

.card_info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.item {
    transition: var(--mainTransition);
    justify-items: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    width: 80.3%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.img_container:hover {
    transform: scale(1.1);
}

.img_container img {
    display: block;
    transition: var(--mainTransition);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 170px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.price {
    color: rgba(0, 0, 0, 0.6);
    background-color: #ffe68b;
    display: block;
    width: 80px;
    height: 40px;
    padding: 5px 5px 10px 0px;
    position: absolute;
    right: 5px;
    bottom: 90px;
    text-align: right;
    font-family: courier;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 0.8px rgba(0, 0, 0, 0.2));
    transform: rotateZ(-5deg) scale(1);
    transition: all 0.5s ease;
    justify-content: center;
}

.price::before {
    content: "";
    padding: 18px;
    position: absolute;
    background-color: #ffe68b;
    left: -6px;
    top: 1px;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    z-index: -1;
}

.price::after {
    content: "";
    padding: 18px;
    position: absolute;
    background-color: #ffe68b;
    right: -6px;
    top: 1px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    z-index: -1;
}

.delivery {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.price_num {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
    font-size: 12.5px;
}

.item_name {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.item_description {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

.online {
    background-color: #0bba3b;
    color: #0b0c10;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    bottom: 1rem;
    right: 1.5rem;
    display: inline-block;
}

/* Clock Icon */
.clock {
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

.clock:after,
.clock:before {
    border-left: none;
    width: 0;
}

.clock:after {
    height: 5px;
    left: 6px;
    top: 1px;
}

.clock:before {
    height: 2px;
    left: 5px;
    top: 7px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon {
    background-color: #b4b3b3;
    border: 1px solid #494a49;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.icon:after,
.icon:before {
    background: #919191;
    border: 0.7px solid #494a49;
    content: '';
    position: absolute;
}