:root {
    --primaryColor: #1fa2df;
}

html {
    background-color: rgb(229, 238, 240);
}

.itemList {
    align-items: center;
    justify-items: center;
}

.itemList-center {
    width: 65vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 40px;
}

.wrapper { 
    text-align: center;
    padding-bottom: 20px;
    padding-top: 0px;
}

.form {
    display: inline-block; 
    color: white;
    position: center;
}

.btn {
    border-color: var(--primaryColor);
    background: none;
    border-radius: 5px;
    color: var(--primaryColor);
    height: 1.7rem;
    font-size: 15px;
    outline: none;
    margin-left: 0.5rem;
    margin-bottom: 20px;
}

.dropdown {
    background-color: var(--primaryColor);
    border: none;
    cursor: pointer;
    color: white;
    height: 1.7rem;
    font-size: 15px;
    outline: none;
}

.btn:hover {
    background-color: var(--primaryColor);
    color: white;
}

@media screen and (min-width: 776px) {
    .itemList-center {
        width: 90vw;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    }
}

@media screen and (min-width: 992px) {
    .itemList-center {
        width: 95vw;
        max-width: 1170px;
    }
}

